.product-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7rem;
}

.product-description__text {
  flex-basis: 30%;
  padding: 0 2rem;
}

.product-description__image {
  flex-basis: 70%;
}

.product-description__image img {
  max-width: 100%;
  height: auto;
}

.product-description__button {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
}
